*{
    margin: 10px;
   
}#titulo, h2{
    color: rgb(243, 81, 7);
    font-family: Arial, Helvetica, sans-serif;
}
.fig{
    border-radius: 50%;

}
p{
    
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: large;
}
figcaption{
    font-style:oblique;
}
a:hover{
    color: chocolate;
}
h3{
    text-decoration: underline;
}